snippet f
	->
		${1}
snippet fp
	(${1}) ->
		${2}
snippet cl
	console.log ${1}
snippet clv
	console.log "${1:}:", $1

snippet it
	it "${1}", ->
		${2}
snippet desc
	describe "${1}", ->
		${2}
snippet cont
	context "${1}", ->
		${2}
snippet bef
	beforeEach ->
		${1}
snippet ex
	expect(${1}).to${2}
