snippet des Describe block
	describe "${1}" do
		${2}
	end
snippet desc Describe block
	describe "${1}" do
		${2}
	end
snippet con Context block
	context "${1}" do
		${2}
	end
snippet cont Context block
	context "${1}" do
		${2}
	end
snippet it It block
	it "${1}" do
		${2}
	end
snippet bef Before each block
	before do
		${1}
	end
snippet aft After each block
	after do
		${1}
	end
snippet let
	let(:${1}) { ${2} }
snippet its
	its(:${1}) { ${2} }
